@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Radio+Canada+Big:ital,wght@0,400..700;1,400..700&display=swap');

html {
    font-family: 'Inter', 'Helvetica', sans-serif;
    overflow-x: hidden;
}

svg {
    font-family: 'Inter', 'Helvetica', sans-serif !important;
}

.pop {
    position: relative !important;
    background: white !important;
    z-index: 1000 !important;
}
/* 
* {
    outline: solid 1px magenta;
} */
